Entornos virtuales
.venv/
venv/
env/
ENV/

Python
pycache/
*.pyc
*.pyo
*.pyd

Editores
.idea/
.vscode/
*.iml
.DS_Store

Archivos locales
.env
*.log
*.db
*.sqlite
save.json

Tests
.pytest_cache/
.coverage
htmlcov/

Empaquetado
*.egg-info/
dist/
build/

